.card{
    display: inline-block;
    color: black;
    padding: 30px;
    margin: 10px;
    width: auto;
    box-shadow: 1px 1px 7px black;
}
img{
    align-items: center;
    margin-left: 30%;
    height: 200px;
}