<style>
    .container{
        margin-top:40px;
        width: 470px;
        padding: 30px;
        box-shadow: 1px 1px 8px black;
    }
    .btn{
        color: black;
        width: 100%;
        height: 50px;
        font-size: 22px;
        background-color: greenyellow;
    }
</style>


<div class="container">
        <h1>Login form</h1>
        <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" name="username"/>
             </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password"/>
             </div>
             <div *ngIf="invaliduser==true" class="alert alert-danger">
                Invalid User !Please <a routerLink="/register">register</a> before login
            </div>
             <button type="submit" class="btn btn-primary">Login</button>
             <div class="form-group">
                <label for="number1">Enter number 1</label>
                <input type="number" class="form-control" [(ngModel)]="number1" name="number1"/>
             </div>
             <div class="form-group">
                <label for="number2">Enter number 2</label>
                <input type="number" class="form-control" [(ngModel)]="number2" name="number2"/>
             </div>
             <button  (click)="addfunc()" type="button" class="btn btn-primary">Add</button>
             <button (click)="subtractfunc()" type="button" class="btn btn-primary">Subtract</button>
            

        </form>
        <div *ngIf="submitted==true">
            You have entered the details
            <h2>{{username}}</h2>
            <h1>{{password}}</h1>
        </div>
        <div *ngIf="add==true || subtract==true">
            Operationn of two Numbers is :
            <h2>{{answer}}</h2>
            
        </div>
        
</div>
